<app-nav-bar></app-nav-bar>
<app-team-details></app-team-details>
<div class="form-control container divMargin">

    <h1 class="center">Players List</h1>

    <form [formGroup]="EditPlayersForm" (ngSubmit)="onFormSubmit(EditPlayersForm.value)">

        <div class="btnMargin">
            <input type="submit" class="btn btn-primary btnPosition" value="Save">
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Nationality</th>
                    <th scope="col">Image</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let player of playerList">
    
                    <td class="col-3">
                        <input class="form-control" formControlName="name" value="{{player.name}}">
                    </td>
    
                    <td class="col-3">
                        <input class="form-control" formControlName="nationality" value="{{player.nationality}}">
                    </td>
    
                    <td class="col-3">
                        <img alt="."> {{player.Image}}
                    </td>
    
                </tr>
            </tbody>
        </table>

    </form>

</div>