<div class="backGround">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div>

        <form [formGroup]="NewUserForm" (ngSubmit)="onFormSubmit(NewUserForm.value)">


            <div class="bodyCard" id="container-register">
                <div id="title">
                    <i class="material-icons lock">lock</i> Register
                </div>

                <div class="select row" style="margin-left: 14%;">
                    <div class="input-addon col-3">
                        <i class="material-icons">verified_user</i>
                    </div>

                    <div class="col-7">
                        <select id="email" class="form-select" formControlName="Role">
                            <option value="1" disabled="disabled">Choose Role</option>   
                            <option>User</option>
                            <option>Admin</option>
                        </select>
                    </div>

                </div>

                <div class="clearfix"></div>

                <div class="input">
                    <div class="input-addon">
                        <i class="material-icons">face</i>
                    </div>
                    <input id="username" formControlName="Username" placeholder="Username" type="text" required
                        class="validate" autocomplete="off">
                </div>

                <div class="clearfix"></div>

                <div class="input">
                    <div class="input-addon">
                        <i class="material-icons">vpn_key</i>
                    </div>
                    <input id="password" formControlName="Password" placeholder="Password is complex" type="password" required
                        class="validate" autocomplete="off">
                </div>

                <div class="remember-me">
                    <input type="checkbox">
                    <span style="color: #DDD">I accept Terms of Service</span>
                </div>

                <input type="submit" value="Register" />


                <div class="register">
                    Do you already have an account?
                    <a href="#" routerLink="/login"><button id="register-link">Log In here</button></a>
                </div>

            </div>

        </form>



    </div>

</div>